[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

small {
  font-weight: 700;
}
